@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

#app {
  font-family: "Montserrat", sans-serif;
}

.left_col {
  display: flex;
  justify-content: space-between;
}

.nav_links {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 35px;
}

.col_name {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 10px;
}

.col_made_by {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
}

.col_desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
  width: 800px;
}

.col_tags {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 160px;
  width: 800px;
}

.col_search {
  display: flex;
}

.search_open {
  font-size: 36px;
  line-height: 44px;
  margin-right: 15px;
}

.search_icon {
  width: 14px;
  height: 14px;
}

.search_close {
  font-size: 36px;
  line-height: 44px;
  margin-left: 15px;
}

.right_col {
  padding-top: 60px;
}

.col_stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.stats_item {
  display: flex;
  height: 16px;
}

.item_data {
  margin-left: 15px;
}

.col_btn {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto 160px auto;
  cursor: pointer;
}

.col_img {
  max-width: 100%;
}

.col_data {
  display: flex;
  justify-content: space-between;
}

.box_show_btn {
  margin: 60px auto 0 auto;
  width: fit-content;
}

.show_btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: none;
  padding: 24px 28px 24px 28px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

.col_other {
  font-size: 24px;
  line-height: 29px;
  margin: 115px auto 60px auto;
  width: fit-content;
}

.splide__slide img {
  max-width: 100%;
  height: auto;
}

.splide1__slide img {
  max-width: 100%;
  height: auto;
}
